<link rel="import" href="/polymer/polymer.html">

<link rel="import" href="/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/core-animated-pages/transitions/slide-from-right.html">

<polymer-element name="cv-status">
	<template>

		<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js'></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
		<script src='//code.jquery.com/jquery-2.1.3.min.js'></script>
		
		<link rel="stylesheet" href="/styles/style.css">

		<div style="width:30em;height:40em;overflow:hidden;">

			<core-animated-pages selected="{{selected}}" transitions="slide-from-right">
				<section>
					<div class="status">
						<template if="{{!gameIsOver}}"> <span class="main {{game.team}}">OUR TURN</span> </template>
						<template if="{{gameIsOver}}"> <span class="main {{game.team}}">RESTARTING</span> </template>
						<p class="{{game.team}}">
							<template repeat="{{m in possibleMoves}}">
								<template if="{{m.count == 0}}"><span>{{m.vote}}</span></template><template if="{{m.count > 0}}"><span><b>{{m.vote}}&nbsp;({{m.count}})</b></span></template><span>;</span>
							</template>
						</p>
					</div>
				</section>
				<section>
					<div class="status">
						<template if="{{!gameIsOver}}"> <span class="main {{opponentTeam}}">THEIR TURN</span> </template>
						<template if="{{gameIsOver}}"> <span class="main {{opponentTeam}}">RESTARTING</span> </template>
						<p class="{{opponentTeam}}">
							<template repeat="{{m in possibleMoves}}">
								<template if="{{m.count == 0}}"><span>{{m.vote}}</span></template><template if="{{m.count > 0}}"><span><b>{{m.vote}}&nbsp;({{m.count}})</b></span></template><span>;</span>
							</template>
						</p>
					</div>
				</section>
			</core-animated-pages>

		</div>

	</template>
	<script>
		var hub = air.hub('cv');

		Polymer("cv-status", {
			ready: function() {

				this.selected = 0;
				this.game = null;
				this.possibleMoves = [];
				this.votes = {};
				this.playerVotes = {};
				this.gameIsOver = false;
				this.opponentTeam = null;

				function _forColour(turn, colour){

					return (turn == colour) ? 0 : 1;

				}

				hub.subscribe('newGame', function(newGame){

					this.game = newGame;
					this.selected = _forColour('white', newGame.colour);
					this.gameIsOver = false;
					this.opponentTeam = newGame.team == 'red' ? 'blue' : 'red';

				}.bind(this));

				hub.subscribe('gameOver', function(winner){

					this.gameIsOver = true;

				}.bind(this));

				hub.subscribe('turnChanged', function(turn){

					if (!this.game) return;
					hub.request('getAvailableMoves', {}, function(allPossibleMoves){

						this.currentPossibleMoves = _.map(allPossibleMoves, function(move){ return { vote: move, count: 0 } });
						this.possibleMoves = this.currentPossibleMoves;
						this.votes = {};
						this.selected = _forColour(turn, this.game.colour);

					}.bind(this));

				}.bind(this));

				hub.subscribe('voteCast', function(v){

					if (!this.votes) this.votes = {};
					this.votes[v.from] = v.vote;

					var raw = _.values(this.votes);
					var tallied = _.groupBy(raw, function(v){ return v });
					var morphed = _.map(tallied, function(v, k){ return { vote: k, count: v.length }; });
					var possibleMoves = _.sortBy(morphed, function(t) { return t.count; }).reverse();
					var smushed = _.union(possibleMoves, this.currentPossibleMoves);

					this.possibleMoves = _.unique(smushed, false, function(v){
						return v.vote;
					});

				}.bind(this));
			}
		});
	</script>
</polymer-element>
