body {
	font-family: 'Noto Sans', sans-serif;
	background:rgb(247, 247, 247);
}

.red {
	color: rgb(237, 29, 65);
}

.blue {
	color: rgb(56, 111, 211);
}

.board {
	width: 796px;
}

.board.blue {
	box-shadow: #96ADD5 10px 30px 40px;
}

.board.red {
	box-shadow: #CB8F9A 10px 30px 40px;
}

.row {
	max-width:100% !important;
}

.pushed {
	padding-top:7em;
}

.marker {
	font-size: 1.4em;
}

.marker img {
	margin-right:1em;
}

.markers {
	margin-top:30px;
	margin-left:20px;
}

.markers .bottom {
	margin-top:640px;
}

.status {
	margin-top:250px;
}

.status span.main {
	font-size: 3em;
	font-weight: bold;
}

.status p {
	text-align: left;
	margin-top:35px;
	width:80%;
}
